       <div class="topnews">
      <h2>最新文章</h2>
      <div class="blogs">
        <ul>
	{% for article in article_list %}
          <h3><a href="{% url 'article' %}?id={{article.id}}">{{ article.title }}</a></h3>
          <p>{{ article.desc }}</p>
          <p class="autor"><span class="lm f_l">{% for tag in article.tag.all %}<a href="/">{{ tag.name }}</a>{%endfor%}</span><span class="dtime f_l">{{ article.date_publish | date:'Y-m-d'}}</span><span class="viewnum f_r">浏览（<a href="/">{{ article.click_count }}</a>）</span><span class="pingl f_r">评论（<a href="/">{{ article.comment_set.all.count }}</a>）</span></p>
	{% endfor %}
        </ul>
      </div>

  <div id="pagination">
    <ul id="pagination-flickr">

	{% if page > 1 %}
    <li class="previous-off"><a href="?page={{ page }}&&page_all={{ page_all }}&&page_type=up">&laquo;上一页</a></li>
	{% endif %}
      <li class="active">{{ page }}/ {{ page_all }}</li>
	{% if page < page_all %}
      <li class="next"><a href="?page={{ page }}&&page_all={{ page_all }}&&page_type=down">下一页 &raquo;</a></li>
	{% endif %}
   </ul>
   </div>
  </div>


